{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UserRecoveryPasswordHash</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Userrecoverypasswordhashvalue</th>
                <td>{{ entity.userRecoveryPasswordHashValue }}</td>
            </tr>
            <tr>
                <th>Userrecoverypasswordhashid</th>
                <td>{{ entity.userRecoveryPasswordHashId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('userrecoverypasswordhash') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('userrecoverypasswordhash_edit', { 'id': entity.userRecoveryPasswordHashId }) }}">
            Edit
        </a>
    </li>

</ul>
{% endblock %}
