<h1>We’d like to get to know you better and your bio will help us do just that</h1>

<p>The <strong>BMG Tool</strong>&nbsp;allows you to create your own bio using your own words and in your own way. Take advantage the bio feature using the &nbsp;<a href="http://en.wikipedia.org/wiki/Neil_Armstrong">WYSIWYG</a>&nbsp;editor you will have no limitation in talking about yourself and your experience.</p>

<hr />
<blockquote>
    <p>Use this section to post your resume, links to your personal website or demo reel, equipment list, production photos, tables, rate cards, etc.  Anything that will help us get a clear idea of your experience and expertise.</p>
</blockquote>

<p>Click the <strong>Edit Bio </strong>Tab and start witting your bio !</p>