<p>Dear {{ user_fullname }}</p>


<p>Please click <a href="{{ url }}/reset-email?token={{ hash }}">here</a> to reset your email</p>

<p>If you're not {{ user_fullname }} or didn't request reset your email, you can ignore this email.</p>


The BMG Team