{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UserCityWorkLink</h1>

    <table class="record_properties">
        <tbody>
            <tr>

            </tr>
            <tr>

            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usercityworklink') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usercityworklink_edit', { 'id': entity.userCityWorkLinkId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
