

<!-- start: FORGOT BOX -->
			<div class="box-forgot">
				<h3>{% trans from "login" %}title_forgot_password{% endtrans %}</h3>
				<p>
					{% trans from "login" %}forgot_password_instructions{% endtrans %}
				</p>
				<form class="form-forgot" action="{{ path('forgotPassword') }}" method="POST" id="form-forgot" name="form-forgot">
					
					<fieldset>
						<div class="form-group">
							<span class="input-icon">
								<input type="email" class="form-control" id="email" name="email" placeholder="{% trans from "login" %}placeholder_email{% endtrans %}">
								<i class="fa fa-envelope"></i> </span>
						</div>
						<div class="form-actions">
							<a class="btn btn-light-grey go-back">
								<i class="fa fa-circle-arrow-left"></i> {% trans from "login" %}btn_back{% endtrans %}
							</a>
							<button type="submit" id="btn-forgot-password" name="btn-forgot-password" class="btn btn-bricky pull-right">
								{% trans from "login" %}btn_submit{% endtrans %} <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
					</fieldset>
				</form>
			</div>
			<!-- end: FORGOT BOX -->